.uploadingWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 40px;
}
.uploading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imageAndName,
.cancelContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cancelContainer {
  cursor: pointer;
}
.image {
  width: 31px;
  height: 31px;
  border-radius: 2.1385px;
}
.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #fafafa;
}

.warning,
.close {
  color: #ff5757;
}
.close {
  cursor: pointer;
}
.animatingContainer {
  width: 100%;
  height: 5px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 200px;
  margin-top: 8px;
}
.animation {
  height: 100%;
  width: 50%;
  background: linear-gradient(
    89.99deg,
    #224dbd 0.66%,
    #3069ff 61.01%,
    #42ccd7 99.99%
  );
  border-radius: 200px;
}
.myAnimation {
  width: 50%;
  transition: 1s;
  transition-delay: 0.5s;
}
